In [45]:
player_data_frame <- read.csv(file='/home/opensam/Programs/jupyter/lab2/player.csv')
team_data_frame <- read.csv(file='/home/opensam/Programs/jupyter/lab2/team.csv')

Credit for ordering a dataframe based on a column : http://www.statmethods.net/management/sorting.html

<h2>Q - Which are the top 10 players by overall rating?</h2>

In [46]:
player_data_frame <- player_data_frame[order(-player_data_frame$overall_rating),]
print(player_data_frame[1:10,c("player_api_id","player_name","overall_rating")])

     player_api_id       player_name overall_rating
2039         30981      Lionel Messi             94
1891         30717  Gianluigi Buffon             93
1937         30829      Wayne Rooney             93
1980         30893 Cristiano Ronaldo             93
3770         39854    Xavi Hernandez             92
3796         39989    Gregory Coupet             92
1831         30626     Thierry Henry             91
1832         30627        John Terry             91
1847         30657     Iker Casillas             91
1895         30723  Alessandro Nesta             91

<h2>Q - Which are the top 10 goalkeepers by sum of gk attributes?</h2>

In [47]:
player_data_frame <- player_data_frame[order(-player_data_frame$gk_attributes_sum),]
print(player_data_frame[1:10,c("player_api_id","player_name","gk_attributes_sum")])

     player_api_id       player_name gk_attributes_sum
1891         30717  Gianluigi Buffon               449
3796         39989    Gregory Coupet               447
1959         30859         Petr Cech               445
1847         30657     Iker Casillas               442
1496         27299      Manuel Neuer               440
2044         30989       Julio Cesar               438
835          24503    Sebastian Frey               437
1898         30726 Edwin van der Sar               436
7550        182917      David De Gea               429
1849         30660        Pepe Reina               428

<h2>Q - Which are the top 10 players by number of appearances (with any team they played with)?</h2>

In [48]:
player_data_frame <- player_data_frame[order(-player_data_frame$match_count),]
print(player_data_frame[1:10,c("player_api_id","player_name","match_count")])

     player_api_id          player_name match_count
2090         31293       Steve Mandanda         300
4030         41097     Stephane Ruffier         294
4335         42422     Samir Handanovic         286
2483         33764 Gorka Iraizoz Moreno         286
1237         26295          Hugo Lloris         282
2118         31465           Tim Howard         282
2111         31432             Joe Hart         275
1178         26168      Cedric Carrasso         268
1290         26399        Daniel Congre         262
5450         94550       Moussa Sissoko         260

<h2>Q - Which are the top 10 players by number of leagues they played in?</h2>

In [49]:
player_data_frame <- player_data_frame[order(-player_data_frame$league_count),]
print(player_data_frame[1:10,c("player_api_id","player_name","league_count")])

     player_api_id           player_name league_count
4281         42119      Gelson Fernandes            6
6104        116750 Ricky van Wolfswinkel            5
7339        178538        Filip Djuricic            5
5395         93484          Aly Cissokho            4
2919         36784   Klaas Jan Huntelaar            4
4638         46509        Angel Di Maria            4
3284         38229            Bryan Ruiz            4
2095         31300               Rolando            4
1947         30841  Maarten Stekelenburg            4
485          22543        Radamel Falcao            4

<h2>Q - Which are the top 10 teams by sum of build up play attributes?</h2>

In [50]:
team_data_frame <- team_data_frame[order(-team_data_frame$buildup_attributes_sum),]
print(team_data_frame[1:10,c("team_api_id","team_long_name","buildup_attributes_sum")])

    team_api_id             team_long_name buildup_attributes_sum
187        9804                     Torino                    209
135        8600                    Udinese                    205
56         8194         Fortuna Düsseldorf                    198
48         8033 Podbeskidzie Bielsko-Biała                    193
63         8245              Korona Kielce                    192
42         8024                Widzew Łódź                    190
62         8244                Widzew Łódź                    190
298      208931                      Carpi                    190
198        9830                  FC Nantes                    189
34         7943                   Sassuolo                    188

<h2>Q - Which are the top 10 teams by sum of chance creation attributes?</h2>

In [51]:
team_data_frame <- team_data_frame[order(-team_data_frame$chance_attributes_sum),]
print(team_data_frame[1:10,c("team_api_id","team_long_name","chance_attributes_sum")])

    team_api_id      team_long_name chance_attributes_sum
101        8485            Aberdeen                   210
185        9800          St. Mirren                   210
151        8658     Birmingham City                   210
74         8344        Cardiff City                   210
210        9860 Heart of Midlothian                   210
54         8178 Bayer 04 Leverkusen                   210
55         8191             Burnley                   210
115        8548             Rangers                   210
184        9798             Reading                   210
258       10172 Queens Park Rangers                   210

<h2>Q - Which are the top 10 teams by sum of defense attributes? </h2>

In [52]:
team_data_frame <- team_data_frame[order(-team_data_frame$defence_attributes_sum),]
print(team_data_frame[1:10,c("team_api_id","team_long_name","defence_attributes_sum")])

    team_api_id          team_long_name defence_attributes_sum
151        8658         Birmingham City                    210
74         8344            Cardiff City                    210
258       10172     Queens Park Rangers                    210
136        8602 Wolverhampton Wanderers                    210
256       10003            Swansea City                    210
100        8483               Blackpool                    210
94         8466             Southampton                    210
158        8678             Bournemouth                    210
154        8667               Hull City                    210
152        8659    West Bromwich Albion                    210

<h2> Q - Which are the top 10 teams by number of fielded players </h2>

In [53]:
team_data_frame <- team_data_frame[order(-team_data_frame$players_fielded),]
print(team_data_frame[1:10,c("team_api_id","team_long_name","players_fielded")])

    team_api_id       team_long_name players_fielded
277       10233                Genoa             138
279       10238      Vitória Setúbal             122
287       10264             SC Braga             121
134        8597           Kilmarnock             115
243        9985    Standard de Liège             114
208        9857              Bologna             113
30         7844    Vitória Guimarães             109
223        9882            Sampdoria             108
271       10215 Académica de Coimbra             108
234        9925               Celtic             106